.terremoto{
    animation: terremoto 0.5s infinite;
}



@keyframes terremoto {
    0% { transform: translateX(0); }
    25% { transform: translateX(-4px); }
    50% { transform: translateX(4px); }
    75% { transform: translateX(-4px); }
    100% { transform: translateX(4px); }
}